@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$color-1st: #2D0763;
$color-2nd: #FFAC3A;
$color-3rd: #FFF;
$color-4th: #000000;
$color-5th: #F7F7F7;
$color-6th: #8492A6;
$color-7th: #343F4B;

