@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

#page-landing{
    width:100vw;
    height:100vh;
    background: #F7F7F7;
}

.sec01{

    .text01{
        font-size:35px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.5em;

        .text-bd{
            font-weight: 800;
            text-transform: uppercase;
        }
    }

    .btn-login, .btn-register{
        background-color: #FFAC3A;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 192px;
        height: 50px;
        text-decoration: none;
        border: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    .btn-primary:focus, 
    .btn-primary.focus{
        box-shadow:  none;
    }
    .btn-login:hover, 
    .btn-register:hover{
        border: 2px solid #2D0763;
        background-color: #fff;
        opacity: 0.65;
        color: #2D0763;
        transition: 0.4s;
        font-weight: 800;

    }
    .img-canto{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 22%;
    }
    .img-nuvem-right{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 6;
        width:400px;
    }
    .imagem-inicio{
        position: absolute;
        z-index: 10;
        right:-2px;
        width: 80%;
    }
    .icon:hover{
        transition: .3s;
        transform: scale(1.2);
    }
}
@media (max-width: 992px){
    .sec01{
        .logoinicio{
            width: 80%;
            margin-left: 10px;
        }
        .text01{
            font-size: 25px;
            margin-left: 20px;
        }
        .btn-login, .btn-register{
            width: 140px;
            margin-left: 25px;
        }
        .imagem-inicio{
            position: relative;
            margin-left: 60px;
        }
        .img-canto{
            width: 55%;
        }
    }
    
}
