@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

#page-login {
    background-color: #2D0763;

    .sec01 {
        .img-login{
            width: 125%;
            position: absolute;
            left: 0;
            z-index: 10;
            bottom: -40px;
        }
        .logo{
            width: 50%;
        }
        .box {
            background-color: #f7f7f7;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .titulo {
                color: #000;
                font-size: 45px;
                line-height: 51px;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
            }

            .form {
                border: 1px solid #8492A6;
                border-radius: 10px;
                width: 273px;
                height: 50px;
                font-size: 16px;
                color: #8190A5;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;

                &:hover {
                    border-color: #FFAC3A;
                }
                &:focus{
                    box-shadow: none;
                }
            }

            .btn-entrar {
                background-color: #FFAC3A;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 273px;
                height: 50px;
                text-decoration: none;
                border: none;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;

                &:hover {
                    border: 2px solid #2D0763;
                    background-color: #2D0763;
                    opacity: 0.65;
                    color: #fff;
                    transition: 0.4s;
                    font-weight: 800;
                }
            }
            .text{
                color: #8190A5;
                font-size: 14px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                text-decoration: none;
            }
        }
    }
}