@import 'global';

#page-login {
    background-color: $color-1st;

    .sec01 {
        .img-login{
            width: 125%;
            position: absolute;
            left: 0;
            z-index: 10;
            bottom: -40px;
        }
        .logo{
            width: 50%;
        }
        .box {
            background-color: $color-5th;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .titulo {
                color: $color-4th;
                font-size: 45px;
                line-height: 51px;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
            }

            .form {
                border: 1px solid $color-6th;
                border-radius: 10px;
                width: 273px;
                height: 50px;
                font-size: 16px;
                color: $color-6th;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;

                &:hover {
                    border-color: $color-2nd;
                }
                &:focus{
                    box-shadow: none;
                }
            }

            .btn-entrar {
                background-color: $color-2nd;
                color: $color-3rd;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 273px;
                height: 50px;
                text-decoration: none;
                border: none;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;

                &:hover {
                    border: 2px solid $color-1st;
                    background-color: $color-1st;
                    opacity: 0.65;
                    color: $color-3rd;
                    transition: 0.4s;
                    font-weight: 800;
                }
            }
            .text{
                color: $color-6th;
                font-size: 14px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                text-decoration: none;
            }
        }
    }
}