@import 'global';

#page-register{
    .sec01{
        background-color: $color-1st;

        .titulo{
            color: $color-3rd;
            font-size: 45px;
            font-weight: 800;
            font-family: $font-1st;
        }
        .form{
            border: 1px solid $color-1st;
            border-radius: 5px;
            color: $color-7th;
            font-size: 18px;
            padding-left: 10px;
            font-family: $font-1st;
            font-weight: 400;
            height: 50px;
            width: 330px;
        }
        .btn-criar{
            width: 330px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-family: $font-1st;
            font-weight: 800;
            background-color: $color-2nd;
            border-radius: 5px;
            text-decoration: none;
            font-size: 20px;

            &:hover{
                border: 2px solid $color-1st;
                background-color: $color-3rd;
                opacity: 0.65;
                color: $color-1st;
                transition: 0.4s;
                font-weight: 800;
            }
        }
        .text{
            color: $color-6th;
            font-size: 14px;
            font-family: $font-1st;
            font-weight: 400;
            text-decoration: none;
        }
        @media (max-width: 992px){
            .logo{
                width: 70%;
            }
            .titulo{
                font-size: 25px;
            }
            .form{
                width: 100%;
                height: 40px;
                font-size: 15px;
            }
            .btn-criar{
                width: 225px;
                height: 45px;
                font-size: 18px;
            }
        }
    }
}