#page-register{
    .sec01{
        background-color: #2D0763;

        .titulo{
            color: #fff;
            font-size: 45px;
            font-weight: 800;
            font-family: 'Montserrat', sans-serif;
        }
        .form{
            border: 1px solid #2D0763;
            border-radius: 5px;
            color: #343F4B;
            font-size: 18px;
            padding-left: 10px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
        }
        .btn-criar{
            width: 288px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            background-color: #FFAC3A;
            border-radius: 5px;
            text-decoration: none;
        }
    }
}